{% extends 'base.html' %}
{% load crispy_forms_tags %} {% load static %}
{% block title %} Applications pending from agent {% endblock title %}

{% block main %}
  <div class="row py-3">
    <div class="col-md-12 m-auto">
      <div class="card shadow">
        <div class="card-header d-flex justify-content-between">
          <h3 class="card-title fw-semibold">Applications</h3>
        </div>
        <div class="card-body border-bottom">
          <form action="" method="get" up-autosubmit up-follow up-keep up-target="#application_list">
            <div class="row">
              <div class="col-sm-6 col-md-2">
                <div class="mb-3">
                  <input type="text" class="form-control" name="student"
                         autocomplete="off" placeholder="Search by student">
                </div>
              </div>
              <div class="col-sm-6 col-md-2">
                <div class="mb-3">
                  <input type="text" class="form-control" name="course"
                         autocomplete="off" placeholder="Filter by course">
                </div>
              </div>
              <div class="col-sm-6 col-md-2">
                <div class="mb-3">
                  <input type="text" class="form-control" name="current_status"
                         autocomplete="off" placeholder="Filter by status">
                </div>
              </div>
              <div class="col-sm-6 col-md-2">
                <div class="mb-3">
                  <input type="text" class="form-control" name="intake"
                         autocomplete="off" placeholder="Search by Intake">
                </div>
              </div>
              <div class="col-sm-6 col-md-1">
                <div class="mb-3 d-flex justify-content-between">
                  <a href="{% url 'core:application_list' %}"
                     class="btn btn-outline-yellow">
                    Clear Filters
                  </a>
                  <a id="export_user_data" class="btn btn-purple ms-1">Export CSV</a>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="table-responsive" id="application_list">
          <table class="table card-table table-vcenter text-nowrap datatable">
            <thead>
            <tr>
              <th class="w-1">S.N.</th>
              <th>Action</th>
              <th>Application Status</th>
              <th>Student</th>
              <th>Passport Number</th>
              <th>Country</th>
              <th>Applied university</th>
              <th>Course</th>
              <th>Agent</th>
              <th>Agent city</th>
              <th>Level</th>
              <th>Intake</th>
              <th>Year</th>
              <th>Applied on</th>
            </tr>
            </thead>
            <tbody>
            {% for object in object_list %}
              <tr>
                <td>
                  <span class="text-secondary">{{ forloop.counter0|add:page_obj.start_index }}.</span>
                </td>
                <td>
                  <a href="{% url 'core:update_application' pk=object.pk %}" class="btn btn-primary btn-sm">Update Status</a>
                </td>
                 <td>{{ object.current_status }}</td>
                <td>{{ object.student }}</td>
                <td>{{ object.student.passport_number }}</td>
                <td>{{ object.course.country }}</td>
                <td>{{ object.course.university }}</td>
                <td>{{ object.course }}</td>
                <td>{{ object.student.partner }}</td>
                <td>{{ object.student.partner.city }}</td>
                <td>{{ object.course.level }}</td>
                <td>{{ object.intake }}</td>
                <td>{{ object.year }}</td>
                <td>{{ object.created|date:"Y-m-d" }}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>

        <div class="card-footer d-flex align-items-center" up-hungry>
          {% include 'utils/pagination.html' %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
