{% extends 'base.html' %}
{% load crispy_forms_tags %} {% load static %}
{% block title %} {{ object|title }} {% endblock title %}
{% block main %}
  <div class="row py-3">
    <div class="col-md-12 m-auto">
      <div class="card shadow">
        <div class="card-header justify-content-between">
          <h3 class="card-title">{{ object|title }}</h3>
          {% if request.user.employee.applicationmanager %}
            <a href="{% url 'paceapp:am_student_list' %}" class="btn btn-dark">Go Back</a>
          {% elif request.user.employee.is_assessment_officer %}
            <a href="{% url 'paceapp:asf_student_list' %}" class="btn btn-dark">Go Back</a>
          {% elif request.user.role.name == 'Partner Account Manager' %}
            <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-dark">Go Back</a>
          {% else %}
            <a href="{% url 'paceapp:student_list' %}" class="btn btn-dark">Go Back</a>
          {% endif %}
        </div>
        <div class="card-body">
          <div class="datagrid">
            <div class="datagrid-item">
              <div class="datagrid-title">Name</div>
              <div class="datagrid-content">{{ object.get_full_name|title }}</div>
            </div>
            <div class="datagrid-item">
              <div class="datagrid-title">Date of Birth</div>
              <div class="datagrid-content">{{ object.date_of_birth|default_if_none:'-' }}</div>
            </div>
            <div class="datagrid-item">
              <div class="datagrid-title">Passport Number</div>
              <div class="datagrid-content">
                {% if object.passport_number ==  '0' %}
                  -
                {% else %}
                  {{ object.passport_number|default_if_none:'-' }}
                {% endif %}</div>
            </div>
            <div class="datagrid-item">
              <div class="datagrid-title">Country On Passport</div>
              <div class="datagrid-content">
                {{ academic.country|default_if_none:'-' }}
              </div>
            </div>
            <div class="datagrid-item">
              <div class="datagrid-title">Email</div>
              <div class="datagrid-content">{{ object.email|default_if_none:'-' }}</div>
            </div>
            <div class="datagrid-item">
              <div class="datagrid-title">Mobile Number</div>
              <div class="datagrid-content">{{ object.mobile_number|default_if_none:'-' }}</div>
            </div>
            <div class="datagrid-item">
              <div class="datagrid-title">Student Type</div>
              <div class="datagrid-content">{{ object.get_type_display|default_if_none:'-' }}</div>
            </div>
            <div class="datagrid-item">
              <div class="datagrid-title">Level</div>
              <div class="datagrid-content">{{ object.study_level|default_if_none:'-' }}</div>
            </div>
            <div class="datagrid-item">
              <div class="datagrid-title">Study country</div>
              <div class="datagrid-content">{{ object.study_country|default_if_none:'-' }}</div>
            </div>
            <div class="datagrid-item">
              <div class="datagrid-title">Partner</div>
              <div class="datagrid-content">
                <a href="#" target="_blank">
                  {{ object.partner|default_if_none:'-' }}
                </a>
              </div>
            </div>
            <div class="datagrid-item">
              <div class="datagrid-title">Created At</div>
              <div class="datagrid-content">{{ object.created|default_if_none:'-' }}</div>
            </div>
            <div class="datagrid-item">
              <div class="datagrid-title">Last updated</div>
              <div class="datagrid-content">{{ object.modified|default_if_none:'-' }}</div>
            </div>

            <div class="datagrid-item">
              <div class="datagrid-title">Status</div>
              <div class="datagrid-content">
                {% if object.is_active %}
                  <span class="status status-green">Active</span>
                {% else %}
                  <span class="status">Inactive</span>
                {% endif %}
              </div>
            </div>

          </div>
        </div>
        <div class="card-footer">
          {% if object.assessment_status.name == 'Assessment Rejected' %}
            <button class="btn btn-danger" disabled> Student Rejected</button>
          {% elif object.get_assessments.first.is_processed %}
            <button class="btn btn-danger" disabled> Student Rejected</button>
          {% elif object.assessment_status.name == 'Assessment Sent' %}
            <button class="btn btn-danger" disabled> Student Rejected</button>
          {% else %}
            <a href="#" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#Modal">Reject Student</a>
          {% endif %}

          {% if not object.get_academic_object %}
            <a class="btn btn-indigo" href="{{ object.get_add_academic_url }}" target="_blank">Add Academic</a>
          {% endif %}
        </div>
      </div>
    </div>
    {#    Include academic details component#}
    {% if academic %}
      {% include 'paceapp/student/academic_details.html' %}
    {% endif %}

    {% include "components/documents.html" %}
    <div class="col-lg-12">
      <div class="card mt-2 shadow">
        <div class="card-header justify-content-between">
          <h3 class="card-title">Assessments</h3>
          {% if not_send_assessment %}
            <a href="#" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#assessmentModal">Send
              Assessment</a>
          {% endif %}
        </div>
        <div class="table-responsive">
          <table class="table table-vcenter card-table text-nowrap">
            <thead>
            <tr>
              <th>S.N.</th>
              <th>Application</th>
              <th>Name</th>
              <th>Country</th>
              <th>University</th>
              <th>Stream</th>
              <th>Intake</th>
              <th>Campus</th>
              <th>tuition fees</th>
              <th>scholarship</th>
              <th>Course Link</th>
              <th>Created on</th>
            </tr>
            </thead>
            <tbody>
            {% for item in assessments %}
              <tr>
                <td>{{ forloop.counter }}.</td>
                <td>
                  {% if item.is_processed %}
                    <span class="btn btn-green btn">Applied</span>
                  {% else %}
                    <a href="{{ item.get_apply_application_url }}" class="btn btn-blue btn">Apply</a>
                  {% endif %}
                </td>
                <td><a href="{{ item.course.get_absolute_url }}" target="_blank">{{ item.course }}</a></td>
                <td>
                  {{ item.course.country|default_if_none:'-' }}
                </td>
                <td>
                  {{ item.course.university|default_if_none:'-' }}
                </td>
                <td>{{ item.course.stream|default_if_none:'-' }}</td>
                <td>
                  {{ item.intake }} - {{ item.year }}
                </td>
                <td>
                  {% for campus in item.course.campus.all %}
                    {{ campus|default_if_none:"-" }}
                  {% endfor %}
                </td>
                <td>{{ item.course.tuition_fees|default_if_none:'-' }}</td>
                <td>{{ item.course.scholarship|default_if_none:'-' }}</td>
                <td>
                  {% if item.course.link %}
                    <a href="{{ item.course.link }}" target="_blank">{{ item.course }}</a>
                  {% else %}
                    -
                  {% endif %}
                </td>
                <td>{{ object.created }}
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="card-footer"></div>
      </div>
    </div>
    <div class="col-lg-12" id="student_applications">
      <div class="card my-2 shadow">
        <div class="card-header justify-content-between">
          <h3 class="card-title">Applications</h3>
          {% if not not_apply_direct_application %}
            <a href="#" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#applicationModal">Apply Direct
              Application</a>
          {% endif %}
        </div>
        <div class="table-responsive">
          <table class="table table-vcenter card-table text-nowrap">
            <thead>
            <tr>
              <th>S.N.</th>
              <th>University</th>
              <th> Course Name</th>
              <th>Country</th>
              <th>Stream</th>
              <th>Intake</th>
              <th>Campus</th>
              <th>Current Status</th>
              <th>Applied On</th>
            </tr>
            </thead>
            <tbody>
            {% for item in applications %}
              <tr>
                <td><span class="text-secondary">{{ forloop.counter }}.</span>
                </td>
                <td>
                  <a href="{{ item.get_absolute_url }}">{{ item.course.university|default_if_none:'-' }}</a>
                </td>
                <td><a href="{{ item.course.get_absolute_url }}" target="_blank">{{ item.course }}</a></td>
                <td>
                  {{ item.course.country|default_if_none:'-' }}
                </td>
                <td>{{ item.course.stream|default_if_none:'-' }}</td>
                <td>
                  {{ item.intake }} - {{ item.year }}
                </td>
                <td>
                  {% for campus in item.course.campus.all %}
                    {{ campus|default_if_none:"-" }}
                  {% endfor %}
                </td>
                <td>
                  {{ item.current_status }}
                </td>
                <td>{{ item.created }}
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="card-footer"></div>
      </div>
    </div>
    {##}
    {#    <div class="col-md-12 m-auto" id="student_assessment_request">#}
    {#      <div class="card my-2 shadow">#}
    {#        <div class="card-header">#}
    {#          <h3 class="card-title">Assessment Requests</h3>#}
    {#        </div>#}
    {#        <div class="table-responsive">#}
    {#          <table class="table table-vcenter card-table" id="partner_application_list">#}
    {#            <thead>#}
    {#            <tr>#}
    {#              <th>S.N.</th>#}
    {#              <th>University</th>#}
    {#              <th>Requested On</th>#}
    {#              <th>Action</th>#}
    {#            </tr>#}
    {#            </thead>#}
    {#            <tbody>#}
    {#            {% for item in assessment_requests %}#}
    {#              <tr>#}
    {#                <td><span class="text-secondary">{{ forloop.counter }}.</span></td>#}
    {#                <td>{{ item.university|default_if_none:'-' }}</td>#}
    {#                <td>{{ item.created }}</td>#}
    {#                <td>#}
    {#                  {% if not item.is_assessment_provided %}#}
    {#                    <a href="#" class="btn btn-primary btn-sm">Give Assessment</a>#}
    {#                  {% else %}#}
    {#                    <a href="#" class="btn btn-success btn-sm">Assessment Given</a>#}
    {#                  {% endif %}#}
    {#                </td>#}
    {#              </tr>#}
    {#            {% endfor %}#}
    {#            </tbody>#}
    {#          </table>#}
    {#        </div>#}
    {#        <div class="card-footer"></div>#}
    {#      </div>#}
    {#    </div>#}
    {#  application#}

    {% if object.get_remarks %}
      <div class="col-lg-12">
        <div class="card mt-2 shadow">
          <div class="card-header">
            <h3 class="card-title">Remarks</h3>
          </div>
          <div class="list-group list-group-flush list-group-hoverable">
            {% for remark in object.get_remarks %}
              <div class="list-group-item">
                <div class="row align-items-center">
                  <div class="col-auto">
                    {% if remark.is_active %}
                      <span class="badge bg-success"></span>
                    {% else %}
                      <span class="badge bg-red"></span>
                    {% endif %}
                  </div>
                  <div class="col-auto">
                    <a href="#">
                      {% with remark.created_by as user %}
                        <span class="avatar" style="background-image: url({{ user.get_avatar_url }})">
                        {% if not user.get_avatar_url %}
                          {{ user.get_initials }}
                        {% endif %}
                      </span>
                      {% endwith %}
                    </a>
                  </div>
                  <div class="col text-truncate">
                    <a href="#" class="text-reset d-block">{{ remark.created_by.name }}
                      ({{ remark.created_by.role|default_if_none:'Role Not Assigned' }})</a>
                    <div class="d-block text-purple text-truncate mt-n1">{{ remark.remark }}
                    </div>
                    <small class="text-muted">Created on: {{ remark.created }}</small>
                  </div>
                  <div class="col-auto">
                    <a href="#" class="list-group-item-actions">
                      <i class="ti ti-star"></i>
                    </a>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    {% endif %}
  </div>

  {# Modal #}

  <div class="modal fade" id="assessmentModal" tabindex="-1" aria-labelledby="assessmentModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="assessmentModalLabel">
            <span class="text-primary h4 fw-bold">Assessment &nbsp;</span>
          </h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="tab-pane" id="lead-applications" role="tabpanel">
            <div class="mb-2 p-3 border border-2">
              <form method="post" action="{% url 'paceapp:assessment_save' pk=student.pk %}"
                    enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" id="level_id" value="{{ level.level.id }}">
                <div id="selectcourseplaceholder">
                  <div class="row course-row">
                    <div class="col-md-3">
                      <div class="mb-3">
                        <label class="form-label required">&nbsp;University</label>
                        <select id="university" name="university" class="form-select university"
                                placeholder="Select University" required>
                          <option value="">Select University</option>
                          {% if universities %}
                            {% for university in universities %}
                              <option value="{{ university.id }}">{{ university.name }}</option>
                            {% endfor %}
                          {% else %}
                            <option value="">No universities available</option>
                          {% endif %}
                        </select>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="mb-3">
                        <label class="form-label required">Course</label>
                        <select name="course" id="course" class="form-control course" required>
                          <option value="">Select Course</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="mb-3">
                        <label class="form-label required">Intake</label>
                        <select name="intake" id="intake" class="form-select intake" required>
                          <option value="">Select Intake</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="mb-3">
                        <label class="form-label required">Year</label>
                        <select name="year" class="form-select year" required>
                          <option selected>Select Year</option>
                          {% for year in years %}
                            <option value="{{ year.id }}">{{ year.intake_year }}</option>
                          {% endfor %}
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-md-12">
                    <div class="mb-3" style="text-align: center !important;">
                      <button type="button" id="addcourse" class="btn btn-info btn-sm">Add More</button>
                      <button type="button" id="removecourse" class="btn btn-warning btn-sm" style="display: none;">
                        Remove
                      </button>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="mb-3">
                      <label class="form-label required">Remark</label>
                      <textarea name="remark" class="form-control required" required></textarea>
                    </div>
                  </div>
                  <div class="container">
                    <div class="row">
                      <div class="col-6 d-flex justify-content-start">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">
                          Cancel
                        </button>
                      </div>
                      <div class="col-6 d-flex justify-content-end">
                        <button type="submit" class="btn btn-green">Save</button>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {#  this is reject assessment #}
  <div class="modal fade" id="Modal" tabindex="-1" aria-labelledby="assessmentModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="assessmentModalLabel">
            <span class="text-primary h4 fw-bold">Assessment &nbsp;</span>
          </h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="tab-pane" id="lead-applications" role="tabpanel">

            <form method="post" action="{% url 'paceapp:reject_student' pk=student.pk %}"
                  enctype="multipart/form-data">
              {% csrf_token %}
              <div class="row">
                <div class="col-12">
                  <div class="mb-3">
                    <label class="form-label required">&nbsp;Remark</label>
                    <textarea name="remark" class="form-control required" required></textarea>
                  </div>
                </div>
                <div class="container">
                  <div class="row">
                    <div class="col-6 d-flex justify-content-end">
                      <button type="submit" class="btn btn-green">Save</button>
                    </div>
                  </div>
                </div>
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>

  {#  this is application modal #}

  <div class="modal fade" id="applicationModal" tabindex="-1" aria-labelledby="applicationModalLabel"
       aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="applicationModalLabel">
            <span class="text-primary h4 fw-bold">Application &nbsp;</span>
          </h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="tab-pane" id="lead-applications" role="tabpanel">
            <div class="mb-2 p-3 border border-2">
              <form method="post" action="{% url 'paceapp:application_save' pk=student.pk %}"
                    enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" id="application_level_id" value="{{ level.level.id }}">
                <div id="application_selectcourseplaceholder">
                  <div class="row application-course-row">
                    <div class="col-md-3">
                      <div class="mb-3">
                        <label class="form-label required">&nbsp;University</label>
                        <select id="application_university" name="university" class="form-select university"
                                placeholder="Select University" required>
                          <option value="" selected disabled>Select University</option>
                          {% if universities %}
                            {% for university in universities %}
                              <option value="{{ university.id }}">{{ university.name }}</option>
                            {% endfor %}
                          {% else %}
                            <option value="">No universities available</option>
                          {% endif %}
                        </select>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="mb-3">
                        <label class="form-label required">Course</label>
                        <select name="course" id="application_course" class="form-control course" required>
                          <option value="" selected disabled>Select Course</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="mb-3">
                        <label class="form-label required">Intake</label>
                        <select name="intake" id="application_intake" class="form-select intake" required>
                          <option value="" selected disabled>Select Intake</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="mb-3">
                        <label class="form-label required">Year</label>
                        <select name="year" id="application_year" class="form-select year" required>
                          <option selected disabled>Select Year</option>
                          {% for year in years %}
                            <option value="{{ year.id }}">{{ year.intake_year }}</option>
                          {% endfor %}
                        </select>
                      </div>
                    </div>
                    {#                    <div class="col-md-3">#}
                    {#                      <div class="mb-3">#}
                    {#                        <label class="form-label required">Application Manager</label>#}
                    {#                        <select id="application_manager_select" class="form-select" name="application_manager">#}
                    {#                          <option value="">Select Application Manager</option>#}
                    {#                          {% if application_manager %}#}
                    {#                            {% for app_manager in application_manager %}#}
                    {#                              <option value="{{ app_manager.id }}">{{ app_manager }}</option>#}
                    {#                            {% endfor %}#}
                    {#                          {% else %}#}
                    {#                            <option value="">No Application Manager assigned</option>#}
                    {#                          {% endif %}#}
                    {#                        </select>#}
                    {#                      </div>#}
                    {#                    </div>#}
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-md-12">
                    <div class="mb-3" style="text-align: center !important;">
                      <button type="button" id="application_addcourse" class="btn btn-info btn-sm">Add More</button>
                      <button type="button" id="application_removecourse" class="btn btn-warning btn-sm"
                              style="display: none;">Remove
                      </button>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="mb-3">
                      <label class="form-label required">&nbsp;Remarks</label>
                      <textarea name="remark" id="application_remark" class="form-control required" required></textarea>
                    </div>
                  </div>
                  <div class="container">
                    <div class="row">
                      <div class="col-6 d-flex justify-content-start">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">
                          Cancel
                        </button>
                      </div>
                      <div class="col-6 d-flex justify-content-end">
                        <button type="submit" class="btn btn-green">Save</button>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const addCourseButton = document.getElementById('addcourse');
      const removeCourseButton = document.getElementById('removecourse');
      const selectCoursePlaceholder = document.getElementById('selectcourseplaceholder');
      const csrf_token = "{{ csrf_token }}";

      async function fetchCourses(universityId, levelId, courseSelect) {
        try {
          const levelId = "{{ object.study_level_id }}"
          const response = await fetch('{% url "paceapp:course_list_filter" %}', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
              'X-CSRFToken': csrf_token,
            },
            body: JSON.stringify({
              university_id: universityId,
              level_id: levelId,
            }),
          });
          if (!response.ok) {
            throw new Error('Network response was not ok')
          }
          const data = await response.json();
          let options = '<option value="">Select Course</option>';
          data.forEach(course => {
            options += `<option value="${course.id}">${course.name}</option>`;
          });
          courseSelect.innerHTML = options;
          courseSelect.disabled = false;
        } catch (error) {
          console.error('Error fetching courses:', error);
        }
      }

      // Function to fetch intakes based on university selection
      async function fetchIntakes(universityId, intakeSelect) {
        try {
          const response = await fetch(`/api/intakes/${universityId}/`);
          if (!response.ok) throw new Error('Network response was not ok');
          const data = await response.json();
          let options = '<option value="">Select Intake</option>';
          data.forEach(universityIntake => {
            if (universityIntake.intakes && Array.isArray(universityIntake.intakes)) {
              universityIntake.intakes.forEach(intake => {
                options += `<option value="${intake.id}">${intake.intake_month}</option>`;
              });
            } else {
              console.error("intakes is undefined or not an array for universityIntake:", universityIntake);
            }
          });
          intakeSelect.innerHTML = options;
          intakeSelect.disabled = false;
        } catch (error) {
          console.error('Error fetching intakes:', error);
        }
      }

      // Function to bind university change event
      function bindUniversityChange(universitySelect, levelId) {
        universitySelect.addEventListener('change', async () => {
          const universityId = universitySelect.value;
          const courseSelect = universitySelect.closest('.course-row').querySelector('#course');
          const intakeSelect = universitySelect.closest('.course-row').querySelector('#intake');
          // Reset course and intake fields
          courseSelect.innerHTML = '<option value="">Select Course</option>';
          intakeSelect.innerHTML = '<option value="">Select Intake</option>';
          if (universityId) {
            await fetchCourses(universityId, levelId, courseSelect);
            await fetchIntakes(universityId, intakeSelect);
          }
        });
      }

      // Bind university change event for the initial row
      const initialUniversitySelect = document.querySelector('#university');
      const levelId = document.querySelector('#level_id').value; // Get the level ID from a hidden input
      if (initialUniversitySelect) {
        bindUniversityChange(initialUniversitySelect, levelId);
      }
      // Event listener to add more course selection rows
      addCourseButton.addEventListener('click', () => {
        const courseRow = document.querySelector('.course-row');
        if (courseRow) {
          const newRow = courseRow.cloneNode(true);
          // Clear the values in the cloned row
          newRow.querySelector('#university').value = '';
          newRow.querySelector('#course').innerHTML = '<option value="">Select Course</option>';
          newRow.querySelector('#intake').innerHTML = '<option value="">Select Intake</option>';
          selectCoursePlaceholder.appendChild(newRow);
          bindUniversityChange(newRow.querySelector('#university'), levelId);
          removeCourseButton.style.display = 'inline-block';
        } else {
          console.error('No element with class "course-row" found.');
        }
      });
      removeCourseButton.addEventListener('click', () => {
        const courseRows = document.querySelectorAll('.course-row');
        if (courseRows.length > 1) {
          selectCoursePlaceholder.removeChild(courseRows[courseRows.length - 1]);
        }
        if (courseRows.length <= 2) {
          removeCourseButton.style.display = 'none';
        }
      });
    });
  </script>
  {#  application javascripts #}
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const addCourseButton = document.getElementById('application_addcourse');
      const removeCourseButton = document.getElementById('application_removecourse');
      const selectCoursePlaceholder = document.getElementById('application_selectcourseplaceholder');
      const csrf_token = "{{ csrf_token }}";

      async function fetchCourses(universityId, levelId, courseSelect) {
        try {
          const levelId = "{{ object.study_level_id }}"
          const response = await fetch('{% url "paceapp:course_list_filter" %}', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
              'X-CSRFToken': csrf_token,
            },
            body: JSON.stringify({
              university_id: universityId,
              level_id: levelId,
            }),
          });
          if (!response.ok) {
            throw new Error('Network response was not ok');
          }
          const data = await response.json();
          let options = '<option value="">Select Course</option>';
          data.forEach(course => {
            options += `<option value="${course.id}">${course.name}</option>`;
          });
          courseSelect.innerHTML = options;
          courseSelect.disabled = false;
        } catch (error) {
          console.error('Error fetching courses:', error);
        }
      }

      async function fetchIntakes(universityId, intakeSelect) {
        try {
          const response = await fetch(`/api/intakes/${universityId}/`);
          if (!response.ok) throw new Error('Network response was not ok');
          const data = await response.json();
          let options = '<option value="">Select Intake</option>';
          data.forEach(universityIntake => {
            if (universityIntake.intakes && Array.isArray(universityIntake.intakes)) {
              universityIntake.intakes.forEach(intake => {
                options += `<option value="${intake.id}">${intake.intake_month}</option>`;
              });
            } else {
              console.error("intakes is undefined or not an array for universityIntake:", universityIntake);
            }
          });
          intakeSelect.innerHTML = options;
          intakeSelect.disabled = false;
        } catch (error) {
          console.error('Error fetching intakes:', error);
        }
      }

      function bindUniversityChange(universitySelect, levelId) {
        universitySelect.addEventListener('change', async () => {
          const universityId = universitySelect.value;
          const courseSelect = universitySelect.closest('.application-course-row').querySelector('#application_course');
          const intakeSelect = universitySelect.closest('.application-course-row').querySelector('#application_intake');
          courseSelect.innerHTML = '<option value="">Select Course</option>';
          intakeSelect.innerHTML = '<option value="">Select Intake</option>';
          if (universityId) {
            await fetchCourses(universityId, levelId, courseSelect);
            await fetchIntakes(universityId, intakeSelect);
          }
        });
      }

      const initialUniversitySelect = document.querySelector('#application_university');
      const levelId = document.querySelector('#application_level_id').value;
      if (initialUniversitySelect) {
        bindUniversityChange(initialUniversitySelect, levelId);
      }

      addCourseButton.addEventListener('click', () => {
        const courseRow = document.querySelector('.application-course-row');
        if (courseRow) {
          const newRow = courseRow.cloneNode(true);
          newRow.querySelector('#application_university').value = '';
          newRow.querySelector('#application_course').innerHTML = '<option value="">Select Course</option>';
          newRow.querySelector('#application_intake').innerHTML = '<option value="">Select Intake</option>';
          selectCoursePlaceholder.appendChild(newRow);
          bindUniversityChange(newRow.querySelector('#application_university'), levelId);
          removeCourseButton.style.display = 'inline-block';
        } else {
          console.error('No element with class "application-course-row" found.');
        }
      });

      removeCourseButton.addEventListener('click', () => {
        const courseRows = document.querySelectorAll('.application-course-row');
        if (courseRows.length > 1) {
          selectCoursePlaceholder.removeChild(courseRows[courseRows.length - 1]);
        }
        if (courseRows.length <= 2) {
          removeCourseButton.style.display = 'none';
        }
      });
    });
  </script>
{% endblock %}

