{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %} {{ object }} {% endblock title %}
{% block main %}
  <div class="row py-3">
    <div class="col-md-10 m-auto">
      <div class="card shadow mb-4">
        <div class="card-header justify-content-between">
          <a href="{% url 'core:country_specific_field_list' %}" class="btn btn-dark">Go Back</a>
          <h3 class="card-title">{{ object.country.country_name }} Fields</h3>
        </div>
        <div class="table-responsive">
          <table class="table table-vcenter card-table shadow-sm">
            <thead>
            <tr>
              <th>S.N.</th>
              <th>Fields</th>
              <th>Status</th>
            </tr>
            </thead>
            <tbody>
            {% for field_stage in object.fields.all %}
              <tr>
                <td>{{ forloop.counter }}.</td>
                <td>{{ field_stage.name }}</td>
                <td>
                  {% if object.is_active %}
                    <span class="status status-green">Active</span>
                  {% else %}
                    <span class="status status-red">Inactive</span>
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        <div class="card-footer"></div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
