<div class="col-md-12 mb-3">
  <div class="card border-0 box-sh shadow shadow-sm">
    <div class="card-header d-flex justify-content-left">
      <h2 class="card-title h4 fw-bold primary">Last 3 Day Activity</h2>
    </div>
    <div class="table-responsive ">
      <table class="table text-center card-table table-vcenter text-nowrap table-striped">
        <thead>
        <tr class="bg-color">
          <th style="text-align:left" class=" font-weight-medium fs-4 fw-bold">Date</th>
          <th class="font-weight-medium fs-4">Total Assessments</th>
          <th class="  fs-4 font-weight-medium">Sent Assessments</th>
          <th class=" font-weight-medium fs-4 font-weight-medium">Rejected Assessments</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td style="text-align:left">{{ today_1 }}</td>
          <td>{{ today_total_assessment }}</td>
          <td>{{ today_sent_assessment }}</td>
          <td>{{ today_rejected_assessment }}</td>
        </tr>
        <tr>
          <td style="text-align:left">{{ yesterday_1 }}</td>
          <td>{{ yesterday_total_assessment }}</td>
          <td>{{ yesterday_sent_assessment }}</td>
          <td>{{ yesterday_rejected_assessment }}</td>
        </tr>
        <tr>
          <td style="text-align:left">{{ yesterday_2 }}</td>
          <td>{{ yesterday_2_total_assessment }}</td>
          <td>{{ yesterday_2_sent_assessment }}</td>
          <td>{{ yesterday_2_rejected_assessment }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

