{% extends "base_2.html" %}
{% load i18n %}
{% load allauth %}
{% load account %}
{% block title %}
  {% trans "Password Reset" %}
{% endblock title %}
{% block content %}
  <div class="container py-4 mb-3">
    <div class="row">
      <div class="col-md-6 m-auto">
        <div class="card shadow">
          <div class="card-header">
            {% element h2 %}
              {% trans "Password Reset" %}
            {% endelement %}
          </div>
          <div class="card-body">
            {% if user.is_authenticated %}
              {% include "account/snippets/already_logged_in.html" %}
            {% endif %}
            <p>
              {% blocktrans %}We have sent you an email. If you have not received it please check your spam folder.
                Otherwise
                contact us if you do not receive it in a few minutes.{% endblocktrans %}
            </p>
          </div>
          <div class="card-footer">
            <h4 class="text-info">If you need any assistance, feel free to contact our support team.</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
    {% include "layout/footer_2.html" %}
{% endblock content %}
