{% extends "base.html" %}
{% load allauth i18n %}
{% block head_title %}
  {% trans "Change Password" %}
{% endblock head_title %}
{% block content %}
  <div class="row py-3">
    <div class="col-md-10 m-auto">
      <div class="card shadow">
        <div class="card-header">
          <h3 class="card-title fw-semibold">{% trans "Change Password" %}</h3>
        </div>
        <div class="card-body">
          {% url 'account_change_password' as action_url %}
          {% element form form=form method="post" action=action_url %}
            {% slot body %}
              {% csrf_token %}
              {{ redirect_field }}
              {% element fields form=form %}
              {% endelement %}
            {% endslot %}
            {% slot actions %}
              {% element button type="submit" %}
                {% trans "Change Password" %}
              {% endelement %}
              <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
            {% endslot %}
          {% endelement %}
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
