{% extends "base.html" %} {% load static %}
{% load i18n allauth account %}
{% block head_title %}
  {% trans "Password Reset" %}
{% endblock head_title %}
{% block body %}
  <div class="container">
    {% if messages %}
      {% for message in messages %}
        <div class="position-fixed top-0 mt-5  end-0" style="z-index: 999;" id="alert-box">
          <div class="alert alert-dismissible {% if message.tags %}alert-{{ message.tags }}{% endif %}">
            {{ message }}
            <button type="button"
                    class="btn-close"
                    data-bs-dismiss="alert"
                    aria-label="Close"></button>
          </div>
        </div>
      {% endfor %}
    {% endif %}
  </div>
  <div class="vh-100 m-0 p-0 bg-white overflow-hidden">
  <div class="row h-100 w-100 m-0 p-0 ">
    <div class="col-md-7 col-0 p-0 d-none d-md-block bg-primary">
      <div class="">
        <img class="d-block w-100 vh-100 position-relative object-cover" alt=""
             src="{% static 'images/Login-img.png' %}"><br>
        <div class=" position-absolute bottom-0 ">
        </div>
      </div>
    </div>
    <div class="col-md-5 col-12">
      <div class="container-tight h-100 py-3 d-flex flex-column gap-4 align-items-center">
        <div class="text-center">
          <a href="." class="navbar-brand navbar-brand-autodark mt-5">
            <img src="{% static 'logo/infinitegroup-logo-light.png' %}" height="50" alt="">
          </a>
        </div>
        <div style="width:80%" class="d-flex flex-column gap-3">
          <div class="d-flex flex-column gap-2 justify-content-center align-items-center w-100">
            <h2 class=" text-center playfair-display m-0">
              Welcome To <br> Infinite Group
            </h2>
          </div>
          <div>
            {% if user.is_authenticated %}
              {% include "account/snippets/already_logged_in.html" %}
            {% endif %}
            <p>
              {% trans "Forgotten your password? Enter your email address below, and we'll send you an email allowing you to reset it." %}
            </p>
            {% url 'account_reset_password' as reset_url %}
            {% element form form=form method="post" action=reset_url %}
              {% slot body %}
                {% csrf_token %}
                {% element fields form=form %}
                {% endelement %}
              {% endslot %}
              {% slot actions %}
                {% element button type="submit" %}
                  {% trans 'Reset My Password' %}
                {% endelement %}
              {% endslot %}
            {% endelement %}
          </div>
          <div class="card-footer">
            <p class="text-pink">{% blocktrans %}Please contact us if you have any trouble resetting your
              password.{% endblocktrans %}</p>
          </div>
        </div>

      </div>
    </div>
  </div>
{% endblock body %}

