{% extends 'base.html' %}
{% load crispy_forms_tags %} {% load static %}
{% block title %} Search PG Courses {% endblock %}
{% block main %}
  <div class="row py-3">
    <div class="col-md-10 m-auto">
      <div class="card shadow">
        <div class="card-body">
          <h1 class="text-center mb-4">Search PG Courses</h1>
          <form action="" method="post" id="assessmentForm">
            {% csrf_token %}
            <input type="text" hidden value="{{ student_id }}" name="student_id">
            <div class="row pb-3">
              <div class="col-md-4">
                <div class="mb-3">
                  <div class="form-label required">Country</div>
                  <select class="form-select" name="country_id" id="country_id" required>
                  </select>
                </div>
              </div>
{#              <div class="col-md-4">#}
{#                <div class="mb-3">#}
{#                  <div class="form-label required">Level</div>#}
                  <select class="form-select" name="level_id" id="id_levels" hidden="hidden" required>
                    <!-- Options will be populated dynamically -->
                  </select>
{#                </div>#}
{#              </div>#}
              <div class="col-md-4">
                <div class="mb-3">
                  <div class="form-label required">Student Passing Board</div>
                  <select class="form-select" name="board_id" id="id_boards" required>
                    <!-- Options will be populated dynamically -->
                  </select>
                </div>
              </div>
              <div class="col-md-4">
                <div class="mb-3">
                  <div class="form-label required">State</div>
                  <select class="form-select" name="state_id" id="id_states" required>
                    <!-- Options will be populated dynamically -->
                  </select>
                </div>
              </div>
              <div class="col-md-4">
                <div class="mb-3">
                  <div class="form-label required">Stream</div>
                  <select class="form-select" name="stream_id" id="id_streams" required>
                    <!-- Options will be populated dynamically -->
                  </select>
                </div>
              </div>
              <div class="col-md-4">
                <div class="mb-3">
                  <div class="form-label required">SubStream</div>
                  <select class="form-select" name="sub_stream_id" id="id_substreams" required>
                    <!-- Options will be populated dynamically -->
                  </select>
                </div>
              </div>
              <div class="col-md-4">
                <div class="mb-3">
                  <div class="form-label required">Passing Month</div>
                  <select class="form-select" name="passing_month" id="id_passing_month" required>
                    <option value="">Select Month</option>
                    <option value="1">January</option>
                    <option value="2">February</option>
                    <option value="3">March</option>
                    <option value="4">April</option>
                    <option value="5">May</option>
                    <option value="6">June</option>
                    <option value="7">July</option>
                    <option value="8">August</option>
                    <option value="9">September</option>
                    <option value="10">October</option>
                    <option value="11">November</option>
                    <option value="12">December</option>
                  </select>
                </div>
              </div>
              <div class="col-md-4">
                <div class="mb-3">
                  <div class="form-label required">Passing Year</div>
                  <select class="form-select" name="year_id" id="id_passing_year" required>
                    <option value="">Select Year</option>
                    {% for item in years %}
                      <option value="{{ item.id }}">{{ item }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
            <!--- Academic Pathways inputs -->
              <div class="col-md-4">
                <div class="mb-3">
                  <div class="form-label required">Academic Pathway</div>
                  <select class="form-select" name="academic_pathway" id="id_academic_pathway" required>
                    <option value="" selected disabled>Select Academic Pathway</option>
                    <option value="intermediate_ug">12th And UG</option>
                    <option value="diploma_ug">Diploma And UG</option>
                    <option value="level_diploma">Diploma Level (6/7)</option>
                  </select>
                </div>
              </div>

              <div class="col-md-4 intermediate_inputs d-none">
                <div class="mb-3">
                  <label class="form-label required" for="id_twelfth_eng_marks">12th English Marks</label>
                  <input type="text" class="form-control" name="twelfth_eng_marks" id="id_twelfth_eng_marks"
                         placeholder="Enter 12th English Marks">
                </div>
              </div>
              <div class="col-md-4 diploma_inputs d-none">
                <div class="mb-3">
                  <label class="form-label required" for="id_diploma_overall">Diploma Overall %</label>
                  <input type="text" class="form-control" name="diploma_overall" id="id_diploma_overall"
                         placeholder="Overall Diploma %">
                </div>
              </div>
              <div class="col-md-4 undergraduate_inputs d-none">
                <div class="mb-3">
                  <label class="form-label required" for="id_ug_overall">UG Overall %</label>
                  <input type="text" class="form-control" name="ug_overall" id="id_ug_overall"
                         placeholder="Enter UG Overall %">
                </div>
              </div>
              <div class="col-md-4 level_diploma_inputs d-none">
                <div class="mb-3">
                  <label class="form-label required" for="id_level_diploma">Diploma Level (6/7) Overall %</label>
                  <input type="text" class="form-control" name="level_diploma" id="id_level_diploma"
                         placeholder="Enter Diploma Level (6/7) %">
                </div>
              </div>
            <!-- End Academic pathways inputs -->

              <div class="col-md-4">
                <div class="mb-3">
                  <div class="form-label required">English Test</div>
                  <select class="form-select" name="english_test_id" id="id_english_test" required>
                    <!-- Options will be populated dynamically -->
                  </select>
                </div>
              </div>
              <div class="col-md-4">
                <div class="mb-3">
                  <label class="form-label required" for="id_eng_test_overall">Overall</label>
                  <input type="text" class="form-control" name="eng_test_overall" id="id_eng_test_overall" required
                         placeholder="Enter Overall">
                </div>
              </div>

              <div class="col-md-4">
                <div class="mb-3">
                  <label class="form-label required" for="id_speaking">Speaking</label>
                  <input type="text" class="form-control" name="speaking" id="id_speaking" required
                         placeholder="Enter Speaking">
                </div>
              </div>
              <div class="col-md-4">
                <div class="mb-3">
                  <label class="form-label required" for="id_writing">Writing</label>
                  <input type="text" class="form-control" name="writing" id="id_writing" required
                         placeholder="Enter Writing">
                </div>
              </div>
              <div class="col-md-4">
                <div class="mb-3">
                  <label class="form-label required" for="id_reading">Reading</label>
                  <input type="text" class="form-control" name="reading" id="id_reading" required
                         placeholder="Enter Reading">
                </div>
              </div>
              <div class="col-md-4">
                <div class="mb-3">
                  <label class="form-label required" for="id_listening">Listening</label>
                  <input type="text" class="form-control" name="listening" id="id_listening" required
                         placeholder="Enter Listening">
                </div>
              </div>

            </div>
            <div class="d-grid mb-3">
              <button type="submit" class="btn btn-dark">Search</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
{% block inline_javascript %}
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      // Fetch initial data and populate the form
      let endpoint = "{% url 'paceapp:api_recommend_course' %}"
      {% if student_id %}
        endpoint = endpoint+"?student_id={{ student_id }}"
      {% endif %}
      fetch(endpoint)
        .then(response => response.json())
        .then(data => {
          populateSelect(document.getElementById('country_id'), data.countries, 'country_name', 'Select Country');
          populateSelect(document.getElementById('id_levels'), data.levels, 'level', 'Select Level');
          populateSelect(document.getElementById('id_streams'), data.streams, 'stream', 'Select Stream');
          populateSelect(document.getElementById('id_english_test'), data.english_test_types, 'english_test_name', 'Select English Test');
        })
        .catch(error => console.error('Error fetching initial data:', error));

      // Event listener for country change
      document.getElementById('country_id').addEventListener('change', function () {
        const countryId = this.value;
        updateStates(countryId);
        let levelId = document.getElementById('id_levels').value
        if (levelId) {
          updateBoards(levelId);
        }
      });

      // Event listener for level change
      document.getElementById('id_levels').addEventListener('change', function () {
        const levelId = this.value;
        updateBoards(levelId);
      })

      // Event listener for stream change
      document.getElementById('id_streams').addEventListener('change', function () {
        const streamId = this.value;
        updateSubstreams(streamId);
      })

    });

    // Update Boards & States
    function updateStates(countryId) {
      let endPoint = `{% url 'paceapp:api_states_by_country' %}?country_id=${countryId}`
      fetch(endPoint)
        .then(response => response.json())
        .then(data =>
          populateSelect(document.getElementById('id_states'), data, 'name', 'Select State')
        )
        .catch(error => console.error('Error fetching states:', error));
    }

    function updateBoards(levelId) {
      let countryId = document.getElementById('country_id').value

      let endpoint = `{% url 'paceapp:api_boards_by_country' %}?country_id=${countryId}&level_id=${levelId}`
      fetch(endpoint)
        .then(response => response.json())
        .then(data => populateSelect(document.getElementById('id_boards'), data, 'name', 'Select Board'))
        .catch(error => console.error('Error fetching boards:', error));
    }

    //Update substreams
    function updateSubstreams(streamId) {
      let endpoint = `{% url 'paceapp:api_substreams_by_stream' %}?stream_id=${streamId}`
      fetch(endpoint)
        .then(response => response.json())
        .then(data => populateSelect(document.getElementById('id_substreams'), data, 'sub_stream_name', 'Select SubStream'))
        .catch(error => console.error('Error fetching substreams:', error));
    }

    function populateSelect(selectElement, data, textField, defaultOption) {
      selectElement.innerHTML = '';
      const defaultOpt = document.createElement('option');
      defaultOpt.value = '';
      defaultOpt.text = defaultOption;
      selectElement.appendChild(defaultOpt);

      data.forEach(item => {
        const option = document.createElement('option');
        option.value = item.id;
        option.text = item[textField];

        if (item[textField] === "Postgraduate")
        {
          option.selected = true;
        }
        selectElement.appendChild(option);
      });
    }


    //Academic Pathways values.
    let academicPathways = document.getElementById('id_academic_pathway');
    let intermediateInputsEl = document.querySelectorAll('.intermediate_inputs');
    let UGInputsEl = document.querySelectorAll('.undergraduate_inputs');
    let diplomaInputsEl = document.querySelectorAll('.diploma_inputs');
    let levelDiplomaInputsEl = document.querySelectorAll('.level_diploma_inputs');

    function toggleClass(elements, action, className = 'd-none') {
      elements.forEach(element => element.classList[action](className));
    }

    // Listen to event for academic pathways.
    academicPathways.addEventListener('change', (e) => {
      const apValue = e.target.value;

      switch (apValue) {
        case "intermediate_ug":
          toggleClass(intermediateInputsEl, 'remove');
          toggleClass(UGInputsEl, 'remove');
          toggleClass(diplomaInputsEl, 'add');
          toggleClass(levelDiplomaInputsEl, 'add');
          break;
        case "diploma_ug":
          toggleClass(UGInputsEl, 'remove');
          toggleClass(diplomaInputsEl, 'remove');
          toggleClass(intermediateInputsEl, 'add');
          toggleClass(levelDiplomaInputsEl, 'add');
          break;
        case "level_diploma":
          toggleClass(intermediateInputsEl, 'add');
          toggleClass(diplomaInputsEl, 'add');
          toggleClass(UGInputsEl, 'add');
          toggleClass(levelDiplomaInputsEl, 'remove');
          break;
        default:
          toggleClass(intermediateInputsEl, 'add');
          toggleClass(diplomaInputsEl, 'add');
          toggleClass(UGInputsEl, 'add');
          toggleClass(levelDiplomaInputsEl, 'add');
      }
    });
  </script>
{% endblock %}
