{% extends 'base.html' %}
{% load crispy_forms_tags %} {% load static %}
{% block title %} Partners {% endblock title %}

{% block main %}
  <div class="row py-3">
    <div class="col-md-12 m-auto">
      <div class="card shadow">
        <div class="card-header d-flex justify-content-between">
          <h3 class="card-title fw-semibold">Partners</h3>
          <a href="{% url 'paceapp:add_partner' %}" class="btn btn-dark">Add Partner</a>
        </div>
        <div class="card-body border-bottom">
          <form action="" method="get" up-autosubmit up-follow up-keep
                up-target="#partner_list">
            <div class="row">
              <div class="col-sm-6 col-md-2">
                <div class="mb-3">
                  <input type="text" class="form-control" name="name"
                         autocomplete="off" placeholder="Name">
                </div>
              </div>
              <div class="col-sm-6 col-md-2">
                <div class="mb-3">
                  <input type="text" class="form-control" name="email"
                         autocomplete="off" placeholder="Email">
                </div>
              </div>
              <div class="col-sm-6 col-md-2">
                <div class="mb-3">
                  <input type="text" class="form-control" name="mobile_number"
                         autocomplete="off" placeholder="Mobile Number">
                </div>
              </div>
              <div class="col-sm-6 col-md-2">
                <div class="mb-3">
                  <select type="text" class="form-select" name="country" data-searchable="true">
                    <option value="" selected>Filter By Country</option>
                    {% for item in countries %}
                      <option value="{{ item.id }}">{{ item }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="col-sm-6 col-md-2">
                <div class="mb-3">
                  <select type="text" class="form-select" name="state" data-searchable="true">
                    <option value="" selected>Filter By State</option>
                    {% for item in states %}
                      <option value="{{ item.id }}">{{ item }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="col-sm-6 col-md-2">
                <div class="mb-3">
                  <input type="text" class="form-control" name="city"
                         autocomplete="off" placeholder="City name">
                </div>
              </div>
              <div class="col-sm-6 col-md-2">
                <div class="mb-3">
                  <select type="text" name="status" class="form-select" required>
                    <option disabled selected>Status</option>
                    <option value="True">Active</option>
                    <option value="False">Inactive</option>
                  </select>
                </div>
              </div>
              <div class="col-sm-6 col-md-1">
                <div class="mb-3 d-flex justify-content-between">
                  <a href="{% url 'paceapp:partner_list' %}"
                     class="btn btn-outline-yellow">
                    Clear Filters
                  </a>
                  {#                  <a id="export_user_data" class="btn btn-success ms-1">Export CSV</a>#}
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="table-responsive">
          <table class="table card-table table-vcenter text-nowrap datatable" id="partner_list">
            <thead>
            <tr>
              <th class="w-1">S.N.</th>
              <th>Company Name</th>
              <th>Registered Company Name</th>
              <th>Contact Person Name</th>
              <th>Email</th>
              <th>Mobile No.</th>
              <th>Whatsapp No.</th>
              <th>Country</th>
              <th>Region</th>
              <th>State</th>
              <th>City</th>
              {#              <th>Onboarding Completed</th>#}
              {#              <th>Blacklisted</th>#}
              {#              <th>Status</th>#}
              <th colspan="2">Action</th>
            </tr>
            </thead>
            <tbody>
            {% for object in object_list %}
              <tr>
                <td>
                  <span class="text-secondary">{{ forloop.counter0|add:page_obj.start_index }}</span>.
                </td>
                <td><a href="{{ object.get_absolute_url }}">{{ object|title }}</a></td>
                <td>{{ object.legal_name|default_if_none:'-'|title }}</td>
                <td>{{ object.contact_name|default_if_none:'-' }}</td>
                <td>{{ object.email|default_if_none:'-' }}</td>
                <td>{{ object.get_mobile_number|default_if_none:"-" }}</td>
                <td>{{ object.get_whatsapp_number|default_if_none:"-" }}</td>
                <td>{{ object.country|title|default_if_none:'-' }}</td>
                <td>{{ object.state.region|default_if_none:'-' }}</td>
                <td>{{ object.state|default_if_none:"-" }}</td>
                <td>{{ object.city|default_if_none:"-" }}</td>
                {#                <td>#}
                {#                  {% if object.onboarding_completed %}#}
                {#                    <i class='bx bxs-check-circle text-success fs-2'></i>#}
                {#                  {% else %}#}
                {#                    <i class='bx bxs-x-circle text-red fs-2'></i>#}
                {#                  {% endif %}#}
                {#                </td>#}
                {#                <td>#}
                {#                  {% if object.blacklisted %}#}
                {#                    <i class='bx bxs-check-circle text-success fs-2'></i>#}
                {#                  {% else %}#}
                {#                    <i class='bx bxs-x-circle text-red fs-2'></i>#}
                {#                  {% endif %}#}
                {#                </td>#}
                {#                <td>{{ object.get_status|safe }}</td>#}
                <td>
                  <a href="{% url 'paceapp:update_partner' pk=object.pk %}" class="btn btn-blue btn-sm">Update</a>
{#                  {% if request.user.is_superuser %}#}
{#                    <a href="{% url 'paceapp:delete_partner' pk=object.pk %}" class="btn btn-danger btn-sm">Delete</a>#}
{#                  {% endif %}#}
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>

        <div class="card-footer d-flex align-items-center" up-hungry>
          {% include 'utils/pagination.html' %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
