{% extends 'base.html' %}
{% load crispy_forms_tags %} {% load static %}
{% block title %} Partner Contact Form {% endblock title %}

{% block main %}
<div class="row py-3">
  <div class="col-md-10 m-auto">
    <div class="card" id="communication_card_id">
      <div class="card-header">
        <h3 class="card-title fw-semibold">
          Partner Contact Update
        </h3>
      </div>
      <div class="card-body">
        <form id="partner_form_id" action="{% url 'paceapp:update_partner_contact' pk=object.pk %}"
              method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div>
            {% crispy form %}
          </div>
        </form>
      </div>
      <div class="card-footer">
        <button type="submit" class="btn btn-danger float-start" up-dismiss>Cancel</button>
        <button type="submit" class="btn btn-green float-end" form="partner_form_id">Save</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
