{% load static %}
<footer style=" background-color:#063A9B" class="text-light fw-semibold">
  <div class="container">
    <div class="d-flex flex-row justify-content-between p-4 px-5">

      <div class="footer-widget mb-30">

        <div class="d-flex flex-column gap-4">

          <div class="f-widget-title ">
            <img src="{% static 'logo/infiniteLogo.png' %}" alt="img">
          </div>

          <div class="mt-3 footerA d-flex flex-row justify-content-center align-items-center gap-2">
            <div class="p-1 border-1 border-white rounded-xl d-flex justify-content-center align-items-center iconDiv">
              <a href="https://www.facebook.com/infinite.group.global" class="facebook" target="_blank">
                <i class="bx bxl-facebook  bx-sm text-light"></i>
              </a>
            </div>


            <div class="p-1 border-1 border-white rounded-xl d-flex justify-content-center align-items-center iconDiv ">
              <a href="https://www.linkedin.com/company/infinite-group-global/" class="twitter" target="_blank">
                <i class="bx bxl-linkedin  bx-sm text-light"></i>
              </a>
            </div>
            <div class="p-1 border-1 border-white rounded-xl d-flex justify-content-center align-items-center iconDiv "
            >
              <a href="https://www.instagram.com/infinitegroup.global/" class="instagram" target="_blank">
                <i class="bx bxl-instagram bx-sm text-light"></i>
              </a>
            </div>
            <div class="p-1 border-1 border-white rounded-xl d-flex justify-content-center align-items-center iconDiv ">
              <a href="https://www.instagram.com/infinitegroup.global/" class="youtube" target="_blank">
                <i class="bx bxl-youtube bx-sm text-light"></i>
              </a>
            </div>
          </div>
        </div>


      </div>
      <div class="">
        <div class="footer-widget mb-30">
          <div class="f-widget-title">
            <h2 class="text-left">Our Links</h2>
          </div>
          <div class="footer-link-group fw-semibold">
            <div class="mb-3"><a href="https://infinitegroup.org/" class="text-white" target="_blank"> Home</a>
            </div>
            <div class="mb-3"><a href="https://infinitegroup.org/about-us" class="text-white" target="_blank"> About
              Us</a></div>
            <div class="mb-3"><a href="https://infinitegroup.org/education-providers" class="text-white"
                                 target="_blank">
              Education
              Providers </a></div>
            <div class="mb-3"><a href="https://infinitegroup.org/recruitment-partners" class="text-white"
                                 target="_blank"> Recruitment
              Partners</a></div>
            <div class="mb-3"><a href="https://infinitegroup.org/contact-us" class="text-white" target="_blank"> Contact
              Us</a></div>

          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-sm-6">
        <div class="footer-widget mb-30 footer-i">
          <div class="f-widget-title d-flex align-items-center">
            <h2 class="text-left">Connect with Us</h2>
          </div>
          <div class="d-flex flex-column gap-2 ">


            <div class="d-flex flex-row gap-2 align-items-center">

              <div class="p-1 border-1 border-white iconSmallDiv d-flex justify-content-center align-items-center">
                <i class="bx bx-phone bx-xs "></i>
              </div>
              <div class="pl-2">

                <a href="https://wa.me/919911135997" target="_blank" style="text-decoration: none; color:white">
                  <div class="menu-item menu-item-type-custom menu-item-object-custom"><span>+91 99111 35997</span>

                  </div>
                </a>
              </div>

            </div>


            <div class="d-flex gap-2 align-items-center ">
              <div class="p-1 border-1 border-white iconSmallDiv d-flex justify-content-center align-items-center">
                <i class="bx bx-envelope bx-xs white f-contact i"></i>
              </div>
              <a href="mailto:info@infinitegroup.org" class="text-white pl-2"
                 style="text-decoration: none; color:white">
                info@infinitegroup.org</a>
            </div>


            <div class="d-flex flex-row gap-2 align-items-center ">
              <div class="p-1 border-1 border-white iconSmallDiv d-flex justify-content-center align-items-center">
                <i class="bx bx-map bx-xs "></i>
              </div>
              <div class="pl-2">

                <a href="https://goo.gl/maps/mJnxnFr7L65MZMsFA" target="_blank">
                  <span class="text-white">I - 59/60, Lajpat Nagar - 1, New Delhi - 110024</span>
                </a>

              </div>
            </div>


          </div>

        </div>
      </div>
    </div>
      <p class="py-3 px-3 mb-0 fs-4" style="border-top: 1px solid white">Copyright © 2024 infinitegroup.org |
      All rights reserved.</p>
  
</footer>
