<!DOCTYPE html>{% load static %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Recruitment Partner Agreement</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      line-height: 1.6;
      margin: 20px;
      font-size: 1.3rem !important;
    }

    .title {
      text-align: center;
      font-weight: bold;
      font-size: 18px;
      margin-bottom: 20px;
    }

    .section-title {
      font-weight: bold;
      margin-top: 20px;
    }

    .sub-section-title {
      font-weight: bold;
      margin-top: 10px;
    }

    .confidential {
      font-style: italic;
      color: red;
    }

    .container {
      text-align: center;
      margin: 0 auto;
    }


    img {
      display: block;
      margin: 0 auto;
    }


    h4, h5 {
      margin: 10px 0;
    }

    .pointer {
      margin-left: 1rem;
    }

    .insidePointer {
      margin-left: 2rem;
    }

    .hightLight {
      background-color: #FFFF00;
    }
  </style>
</head>
<body>

<div id="content">
  <div class="container">
    <div>
      <img src="data:image/png;base64,{{ image_base64 }}" alt="Infinite Group Logo" width="300">
    </div>
    <h4>RECRUITMENT PARTNER AGREEMENT</h4><br>
    <h4>Dated: {% now "d-m-Y" %}</h4><br>
    <h5>BY AND BETWEEN</h5><br>
    <h5>INFINITE GROUP</h5><br>
    <h5>AND</h5><br>
    <p class="rp-line"><b>{{ partner.company_name|upper }}</b></p>
    <h5>RECRUITMENT PARTNER (“RP”)</h5><br>
  </div>
  <p>This <b>RECRUITMENT PARTNER AGREEMENT (“Agreement”)</b> is entered into on by and
    between <b>INFINITE GROUP EDUCATION CONSULTANT L.L.C-FZ,</b> a company
    incorporated under the U.A.E.(Government of Dubai) Companies Act and having its
    registered office at Meydan Grandstand, 6th Floor, Meydan Road, Nad Al Sheba,
    Dubai, U.A.E. (hereinafter referred to as the <b>“Company”</b>, which expression shall,
    unless it be repugnant to the context or meaning thereof, be deemed to mean and
    include its assigns and successors in title) of the <b>ONE PART</b>;</p>

  <p>AND</p>

  <p><b>{{ partner.company_name }}</b> and having its registered office at
    <b>{{ partner.get_full_address }}</b> (hereinafter referred to as “RP”, which expression shall, unless
    it be repugnant to the context or meaning thereof, be deemed to mean and include, in case of a sole proprietorship
    firm, the heirs, executors, successors in title, administrators and permitted assigns of the proprietor / in case of
    a partnership firm, the surviving partners for the time being and their heirs, administrators and permitted assigns
    / in case of a private limited company, its permitted assigns and successors in title, as the case may be), of the
    <b>OTHER PART</b>;</p>

  <p>The Company and RP are hereinafter collectively referred to as the <b>“Parties”</b> and individually referred to as
    a
    <b>“Party</b>.”</p>

  <p><b>WHEREAS</b></p>
  <p>A. The Company is engaged in the business of offering admission and visa counselling for overseas education in
    Universities.</p>
  <p>B. The RP has approached the Company to offer counselling services with the intent to recruit students for
    enrolment in the Universities in the United States, U.K., New Zealand, Australia, Canada and other destinations
    through the Company.</p>
  <p>C. Now, therefore, the Parties are executing this Agreement to record their mutual understanding relating to the
    a fore-mentioned arrangement, the terms and conditions thereof and other incidental matters arising therefrom.</p>

  <p><b>NOW, THEREFORE, IN CONSIDERATION OF THE MUTUAL COVENANTS SET FORTH HEREIN AND FOR GOOD AND VALUABLE
    CONSIDERATIONS, IT IS AGREED BETWEEN THE PARTIES AS FOLLOWS:</b></p>

  <div class="section-title">1. DEFINITIONS & INTERPRETATIONS</div>
  <div class="pointer">
    <p>1.1. In this Agreement (including the recitals), unless repugnant to the context or meaning thereof, the
      following terms shall have the following meaning:</p>
    <div class="insidePointer">
      <p>1.1.1. <b>"Code of Conduct”</b> means code outlining the standards for RPs to follow in an effort to maintain
        high professional standards in the marketing and delivery of education services which safeguard the interests
        and welfare of students.</p>
      <p>1.1.2. <b>"Code of Practice”</b> means Act with diligence and in a professional manner and use its best
        endeavors to fulfil the duties described herein and maintain reasonable technical and practical knowledge
        regarding the Services.</p>
      <p>1.1.3. <b>“Destination Markets”</b> include United States, U.K., New Zealand, Australia, Canada and any other
        destination, as may be identified by the Company in writing from time-to-time.</p>
      <p>1.1.4. <b>“Intellectual Property”</b> or <b>“IP”</b> means (a) any intellectual property or
        proprietary rights in any jurisdiction (even beyond the Designated
        Markets or Territory), whether owned or held for use under license,
        whether registered or unregistered, including such rights in (i) all works
        of authorship (whether or not copyrightable), all copyrights, all moral
        rights and all applications, registrations, and renewals in connection
        therewith, (ii) the Trademarks, all other trademarks, service marks,
        certification marks, trade dress, logos, trade names, and corporate
        names, typeface and all applications, registrations, and renewals in
        connection therewith,
        (iii) all inventions, invention disclosures, all improvements thereto
        (whether patentable or unpatentable and whether or not reduced to
        practice), and all issued patents, pending patent applications, and any
        and all divisions, continuations, continuations-in-part, reissues,
        continuing patent applications, re-examinations and extensions thereof,
        any counterparts claiming priority therefrom, utility models, design
        patents, utility models, patents of importation/confirmation, certificates
        of invention, certificates of registration and similar rights, (iv) all trade
        secrets and confidential business information and rights to limit the use
        or disclosure thereof by any person (including forms, materials, guides,
        manuals, ideas, research and development, know-how, formulas,
        compositions, manufacturing and production processes and techniques,
        technical data, designs (including colour palette), drawings,
        specifications, customer and supplier lists, pricing and cost information,
        and business and marketing plans and proposals, training and
        webinars), (v) all computer software (including but not limited to
        downloadable software applications), operating systems, data files,
        source and object codes, user interfaces, manuals, databases, technical
        specifications and documentation and
        (vi) Internet domain names (including the Website and links) (b) all
        copies and tangible embodiments of any of the foregoing (in whatever
        form or medium), (c) claims, causes of action or defenses relating to
        the enforcement of any of the foregoing, and (d) the goodwill
        associated with any of the foregoing.</p>
      <p>1.1.5. <b>"Services”</b> means an online platform provided by the Company for the
        processing, screening, and lodging of applications to enrolment into
        Universities with access to a range of appropriate application and
        enrolment compliance tools.</p>
      <p>1.1.6. <b>"Territory”</b> unless otherwise specified, means that country or countries
        and locations in that country or countries where the RP is located to be
        able to deliver the required services and comply with the
        responsibilities and warranties of recruitment partner set out in Clause
        3 and Clause 4 of this Agreement.</p>
      <p>1.1.7. <b>"University” or “Universities”</b> means universities and colleges with
        whom the Company has tie ups through its overseas education division
        for admissions.</p>
    </div>
  </div>

  <div class="section-title">2. RIGHTS OF RP</div>
  <div class="pointer">
    <p>2.1. The Company hereby grants RP the right to market and offer in the Territory where the RP operates, and any
      other
      territories as agreed by the Parties in writing.</p>
    <p>2.2. Subject to Clause 9 (Non-Solicitation), the parties expressly acknowledge
      that this Agreement does not create an exclusive relationship between
      the Parties</p>
  </div>

  <div class="section-title">3. Representations and Warranties of RP</div>

  <div class="paragraph">The RP hereby represents and warrants to the Company that:</div>

  <div class="pointer">
    <div class="paragraph">
      <b>3.1.</b>all documents received from prospective students are / will be authentic and true. The Company may ask
      for original or duly notarised documents from the RP.
    </div>

    <div class="paragraph">
      <b>3.2.</b> it has not and shall not:
      <ul class="sub-list">
        <li><b>3.2.1.</b> engage in dishonest practices.</li>
        <li><b>3.2.2.</b> mislead a student by making unrealistic suggestions about studying in any of the Company’s
          Destination Markets.
        </li>
        <li><b>3.2.3.</b> facilitate the enrolment of an international student who does not comply with the conditions
          of a student visa.
        </li>
        <li><b>3.2.4.</b> engage in false or misleading advertising and recruitment practices.</li>
      </ul>
      The RP acknowledges that doing so may result in the termination of this agreement.
      <br>
    </div>

    <div class="paragraph">
      <b>3.3.</b> there are no proceedings, pending, threatened or decided, against staff, directors, contractor, or
      other
      parties related to the RP who are directly or indirectly involved in the operation of services related to the
      Company or this Agreement.
    </div>
  </div>


  <div class="section-title">4. RESPONSIBILITIES OF RP</div>
  <div class="paragraph">The RP agrees and undertakes that it shall:</div>

  <div class="pointer">
    <div class="paragraph">
      <b>4.1.</b> comply with and act in accordance with the Code of Conduct and Code of Practice;
    </div>

    <div class="paragraph">
      <b>4.2.</b> use the Company’s platform and services to enrol students into the Universities and/or provide related
      services according to the terms and conditions herein.
    </div>

    <div class="paragraph">
      <b>4.3.</b> act with diligence and in a professional manner and use its best commercial endeavours to fulfil the
      duties described herein and maintain reasonable technical and practical knowledge regarding the Services.
    </div>

    <div class="paragraph">
      <b>4.4.</b> use promotional materials provided by the Company from time to time solely for the purpose of using,
      marketing, and promoting the Services.
    </div>

    <div class="paragraph">
      <b>4.5.</b> submit enrolment ready applications or referral leads to the Company for the purpose of application
      and
      admission into the Universities.
    </div>

    <div class="paragraph">
      <b>4.6.</b> ensure that all required application fees and charges related to the application are paid directly to
      the University or to the Company, at the discretion of and upon directions issued by the Company in writing.
    </div>

    <div class="paragraph">
      <b>4.7.</b> comply with all relevant legislation, applicable laws and policies relating to the recruitment of
      students in Destination Markets and Universities.
    </div>

    <div class="paragraph">
      <b>4.8.</b>
      ensure that all the relevant University’s policies are accurately explained to a prospective student
      prior to acceptance of offer from the same.
      This includes but is not limited to the following:
      <ul class="sub-list">
        <li><b>4.8.1.</b> Refund policies</li>
        <li><b>4.8.2.</b> Successful completion of enrolment</li>
        <li><b>4.8.3.</b> Visa application refusal or visa grant cancellation</li>
        <li><b>4.8.4.</b> Transfer to another provider</li>
        <li><b>4.8.5.</b> Early cessation of their studies</li>
        <li><b>4.8.6.</b> Termination of studies for non-payment of fees or disciplinary reasons</li>
        <li><b>4.8.7.</b> Unsatisfactory course progress or course attendance</li>
        <li><b>4.8.8.</b> Deferral or suspension of studies</li>
      </ul>
    </div>

    <div class="paragraph">
      <b>4.9.</b> not claim or purport that the agreements by the Company with Universities are the agreements entered
      into by the RP, unless the RP has, in its own capacity, signed an agreement directly with such university or
      college.
    </div>

    <div class="paragraph">
      <b>4.10.</b> not advertise, use, or promote University’s logos or branded materials without the direct approval of
      the Company or concerned University in writing.
    </div>
  </div>

  <div class="section-title">5. ROLES AND RESPONSIBILITIES OF THE COMPANY</div>
  <div class="paragraph">The Company shall endeavour that:</div>
  <div class="pointer">
    <div class="paragraph">
      <b>5.1.</b> the application for study placement to various Universities will not be delayed
      unnecessarily for reasons in the Company’s control.
    </div>
    <div class="paragraph">
      <b>5.2.</b> the Company will process all commission within 30 days after receipt of
      payment from the concerned University and the subsequent receipt from the
      RP of a complete and accurate invoice in accordance with Clause 6 hereof.
    </div>
  </div>

  <div class="section-title">6. COMMISSION</div>

  <div class="pointer">
    <div class="paragraph">
      <b>6.1.</b> The Company shall pay to the RP commission where the RP sources the student in accordance with this
      Agreement and provides an enrolment-ready application.
    </div>

    <div class="paragraph">
      <b>6.2.</b> Upon the Company receiving commission from the concerned University in relation to the enrolment of
      the relevant student, the Company shall intimate the RP in writing of the same.
    </div>

    <div class="paragraph">
      <b>6.3.</b> The Company shall pay the RP a commission at a percentage of (“Commission”), in relation to the
      commission received by the Company in Clause 6.2. Exact Commercials have been shared with you over email. This is
      subject to periodic revision subject to Company’s discretion. Any changes in the commission structure will always
      be notified by email. Provided however that, if the student, for any reason, does not pay the required tuition
      fees / or abandons the program for which admission has been procured, no remuneration shall be payable by the
      Company to the RP.
    </div>

    <div class="paragraph">
      <b>6.4.</b> Upon the RP receiving intimation from the Company in accordance with Clause 6.2 hereto, the RP shall
      promptly, and in no event later than 5 days from receipt of such notice, raise an invoice on the Company for
      payment of the Commission.
    </div>

    <div class="paragraph">
      <b>6.5.</b> Invoices raised by the RP shall have the following information:
      <ul class="sub-list">
        <li><b>6.5.1.</b> Name of the student</li>
        <li><b>6.5.2.</b> Institution ID of the student</li>
        <li><b>6.5.3.</b> Name of the institution</li>
        <li><b>6.5.4.</b> Title of the course</li>
        <li><b>6.5.5.</b> Semester being claimed</li>
        <li><b>6.5.6.</b> Amount due</li>
        <li><b>6.5.7.</b> Full bank details of RP</li>
      </ul>
    </div>
  </div>

  <div class="section-title">7. OWNERSHIP OF INTELLECTUAL PROPERTY</div>

  <div class="pointer">
    <div class="paragraph">
      <b>7.1.</b> The RP acknowledges that all rights, title and interest including rights in the Intellectual Property
      and to the results and proceeds in relation to the Intellectual Property without limitation on time period or
      geographical location hereby exclusively, irrevocably and unconditionally belong to and legally vest in the
      Company.
    </div>

    <div class="paragraph">
      <b>7.2.</b> The RP will not use any of the Company’s trademark(s) (“Trademarks”) without obtaining the prior
      written consent of the Company and after disclosing the use of Trademarks to the Company. In the event the Company
      provides its consent as aforesaid, the RP, to the extent specified by the Company and according to the terms and
      conditions set out in Clause 7.3, shall have a non-exclusive and non-transferable revocable royalty-free license
      duration/validity of which shall be limited to the term of this Agreement.
    </div>

    <div class="paragraph">
      <b>7.3.</b> Without prejudice to the above Clauses 7.1 and 7.2, RP agrees and undertakes:
      <ul class="sub-list">
        <li><b>7.3.1.</b> to use Company’s material (“Material") in a manner approved by the Company;</li>
        <li><b>7.3.2.</b> not to alter or tamper with any Material;</li>
        <li><b>7.3.3.</b> not to use Material in any way which might prejudice its distinctiveness or validity; and</li>
        <li><b>7.3.4.</b> not to use any marks or names that are deceptively similar to or which resembles the
          Trademarks.
        </li>
      </ul>
    </div>

  </div>
  <div class="section-title">8. FRAUD AND DISHONEST PRACTICES</div>
  <div class="pointer">
    <div class="paragraph">
      <b>8.1.</b> The Company shall take immediate corrective and preventive action if it becomes aware of the RP being
      negligent, careless, or incompetent or being engaged in false, misleading, or unethical advertising and
      recruitment practices including practices that could harm the integrity of the student and/or University. The RP
      has acknowledged under Clause 3, that documents submitted for the purpose of Services are not fraudulent and will
      not place the student’s integrity at risk.
    </div>

    <div class="paragraph">
      <b>8.2.</b> In the event the Company is of the opinion that any fraud and/or dishonest practice has been committed
      by RP, the Company may terminate this Agreement in accordance with Clause 10.
    </div>
  </div>
  <div class="section-title">9. NON-SOLICITATION</div>

  <div class="paragraph">
    During the term of this Agreement, and for 12 months after any termination of this Agreement, the RP will not use
    its relationship or reference activities conducted with the Company to directly contact any University for the
    explicit purpose of entering a commercial agreement. This excludes those institutions that the RP has represented
    previously or with whom the RP, at the time of this Agreement, has an existing agreement.
  </div>

  <div class="section-title">10. TERM AND TERMINATION</div>

  <div class="pointer">
    <div class="paragraph">
      <b>10.1.</b> <span class="hightLight">This Agreement shall commence upon the date of execution and continue for an initial period of 2 years,</span>
      unless terminated under Clause 8.2 or the Company cancels this Agreement in writing by giving 30 days' notice at
      the end of the first and subsequent terms.
    </div>

    <div class="paragraph">
      <b>10.2.</b> Either Party may terminate this agreement immediately by giving written notice to the other Party if:
      <ul class="sub-list">
        <li><b>10.2.1.</b> the other Party commits a material breach of the agreement which, if capable of remedy, has
          not been remedied within 30 days after written notice is given to the other Party;
        </li>
        <li><b>10.2.2.</b> the other Party ceases to hold a relevant licence or authorisation required in connection
          with this agreement under relevant legislation;
        </li>
        <li><b>10.2.3.</b> the other Party has taken any step towards its winding up, dissolution or administration,
          compromise or arrangement with any third party (including creditors); or
        </li>
        <li><b>10.2.4.</b> the other Party engages in conduct which causes or is likely to cause damage to the
          reputation of the Party, or its related entities or business partners, clients, or customers.
        </li>
      </ul>
    </div>

    <div class="paragraph">
      <b>10.3.</b> Upon termination of this Agreement, the RP shall cease marketing and offering the Services and shall
      continue to abide by the obligation to refrain from sharing with any third party any of the Company’s Confidential
      Information in accordance with Clause 11 below.
    </div>

    <div class="paragraph">
      <b>10.4.</b> <span class="hightLight">Unless terminated, this Agreement will automatically renew for a further period of 1 year.</span>
    </div>
  </div>

  <div class="section-title">11. CONFIDENTIALITY</div>

  <div class="pointer">
    <div class="paragraph">
      <b>11.1.</b> Confidential information (“Confidential Information”) shall mean any information disclosed by Company
      (“Disclosing Party”) to the RP (“Receiving Party”), in any form including without limitation documents, business
      plans, technical/financial/marketing/customer/business information, specifications, analysis, designs, drawings,
      data, computer programs, any information relating to personnel or affiliates of a party and include information
      disclosed by third parties at the direction of a Disclosing Party and marked as <span class="hightLight">confidential within 15 days of such disclosure</span>.
    </div>

    <div class="paragraph">
      <b>11.2.</b> The RP shall, during the subsistence of this Agreement and at all times thereafter, not disclose to
      any Person, directly or indirectly, the Confidential Information pertaining to the Company. The RP shall be
      entitled to disclose such Confidential Information only after obtaining the prior written permission from the
      Company.
    </div>

    <div class="paragraph">
      <b>11.3.</b> The RP shall not be obligated to maintain confidentiality in respect of the Confidential Information
      which:
      <ul class="sub-list">
        <li><b>11.3.1.</b> is known to the general public at large at the time of disclosure as is evidenced by written
          records;
        </li>
        <li><b>11.3.2.</b> becomes known to the RP from a source other than the Company who possesses the Confidential
          Information legally and without restriction on disclosure;
        </li>
        <li><b>11.3.3.</b> is in the public domain or becomes in the public domain through no wrongful act of RP;</li>
        <li><b>11.3.4.</b> is disclosed with the prior written approval of the Company; and</li>
        <li><b>11.3.5.</b> is disclosed pursuant to any judicial or governmental request, requirement, or order,
          provided that the RP takes reasonable steps to give the Company sufficient prior notice in order to contest
          such request, requirement or order.
        </li>
      </ul>
    </div>

    <div class="paragraph">
      <b>11.4.</b> The RP hereby agrees to keep secret and confidential the proprietary information made available to it
      during the subsistence of this Agreement. The RP will take reasonable measures to maintain the confidentiality of
      the Company’s Confidential Information, but never less than the standard of care that an ordinary prudent business
      would exercise to maintain the secrecy of its own Confidential Information.
    </div>
  </div>

  <div class="section-title">12. NON-DISPARAGEMENT</div>

  <div class="paragraph">
    The RP shall not, during the term of this Agreement or at any time after the expiry of the Agreement, use derogatory
    remarks directly or indirectly for the Company or any other representative of the Company and shall not commit any
    act which shall bring the Company into public disrepute, contempt, scandal or ridicule and/or defames and/or
    disparages the Company, either directly and/or indirectly.
  </div>

  <div class="section-title">13. INDEMNIFICATION</div>

  <div class="pointer">

    <div class="paragraph">
      <b>13.1.</b> The RP shall indemnify and hold the Company, and its affiliates, employees, officers, directors and
      shareholders (collectively the “Indemnified Parties”) harmless at all times from and against any and all claims
      demands, losses, costs, damages, suits, judgments, penalties, expenses (including attorney fees), interest and
      liabilities of any kind or nature whatsoever to the extent that they are arising from any act, default or omission
      by the RP and in particular (but not by way of limitation) against any such claim which results against the
      Indemnified Parties from the conduct by the RP of its activities under this Agreement.
    </div>

    <div class="paragraph">
      <b>13.2.</b> Without prejudice to the generality of the foregoing, the RP agrees to indemnify and keep the
      Indemnified Parties indemnified at all times from and against any and all claims demands, losses, costs, damages,
      suits, judgments, penalties, expenses and liabilities of any kind or nature whatsoever arising out of:
      <ul class="sub-list">
        <li><b>13.2.1.</b> breach of any of the confidentiality, representations and warranties of the RP or any breach
          or failure on the part of the RP to fulfil any of the obligations, undertakings or covenants under this
          Agreement;
        </li>
        <li><b>13.2.2.</b> any fraud, misrepresentation or negligence on part of the RP to operate under this Agreement
          or otherwise;
        </li>
        <li><b>13.2.3.</b> any infringement or passing off of the Intellectual Property subsisting in the Trademarks or
          any third party intellectual property;
        </li>
        <li><b>13.2.4.</b> breach of any applicable laws, rules, regulations by the RP.</li>
      </ul>
    </div>

  </div>
  <div class="section-title">14. ENTIRE AGREEMENT AND MODIFICATION</div>

  <div class="paragraph">
    This Agreement expresses the entire agreement between the Parties hereto which supersedes any other negotiations or
    agreement on the subject matter hereof and this Agreement shall not be modified in any way except by a written
    instrument signed by both Parties hereto.
  </div>

  <div class="section-title">15. DISPUTE RESOLUTION</div>

  <div>
    All disputes, controversies, or claims arising out of or in connection with this Agreement (including its existence,
    validity, or termination) that cannot be amicably resolved shall be referred to and finally settled by arbitration
    in accordance with the Arbitration and Conciliation Act, 1996. The arbitration shall be conducted by a sole
    arbitrator appointed by mutual agreement of the Parties, or if no agreement is reached, by the Mumbai Centre for
    International Arbitration (MCIA). The arbitration shall take place in Mumbai, India. The award rendered by the
    arbitrator shall be final and binding on the Parties and may be enforced in any court of competent jurisdiction. The
    language to be used in the arbitral proceedings shall be English.
  </div>

  <div class="section-title">16. RELATIONSHIP OF THE PARTIES</div>

  <div class="paragraph">
    <b>16.1.</b>The relation between the RP and Company will be that of principal to principal
    and not principal and agent and the Company will not therefore be liable or
    responsible for acts or liability of the RP or for any amount due and payable by
    the RP to any other party. The RP shall not enter into any contract on behalf of
    Company nor bind Company in any way. The RP is not in any way a legal
    partner, an agent, subsidiary, employee and must not represent itself as such in
    any circumstances.
  </div>
  <div class="paragraph">
    <b>16.2.</b>Nothing in this agreement shall create or deemed to create any relationship of
    agency, partnership or joint venture between the parties. The RP assumes full
    responsibility or liability for and will hold the Company harmless from any loss,
    injury, claims or damages resulting from or claimed to result from acts of
    commission or omissions on the part of the RP.
  </div>

  <div class="section-title">17. NOTICES</div>

  <div class="paragraph">
    Any communications in connection with this Agreement must be given in writing and may
    be given in person, by post and, to the extent agreed by the Assignee, e-mail or any other
    electronic communication to the following address:
  </div>

  <div class="insidePointer">
    <div class="paragraph">
      If to the Company:<br>
      Infinite Group Education Consultant L.L.C-FZ<br>
      Meydan Grandstand, 6th Floor, Meydan Road,<br>
      Nad Al Sheba, Dubai, UA.E.<br>

      <span>  Email: uk1@infinitegroup.org</span>
    </div>
    <br>

    <div class="paragraph">
      <span>If to the RP:</span><br>
      <b>{{ partner.company_name }}<br> {{ partner.get_full_address }}</b>
    </div>
  </div>

  <div class="section-title">18. MISCELLANEOUS</div>

  <div class="pointer">
    <div class="paragraph">
      <b>18.1.</b>
      <ul>Warranty of power to enter Agreement</ul>
      . Each of the Parties warrants its power to enter into this
      Agreement and confirms having obtained all legal consents and approvals required to enter into and perform this
      Agreement.
    </div>

    <div class="paragraph">
      <b>18.2.</b> Reservation of Rights. All rights not specifically and expressly granted to the RP by the Company by
      this Agreement are reserved to the Company.
    </div>

    <div class="paragraph">
      <b>18.3.</b> Right to Assign and Novation. The RP shall have no rights to assign or transfer any rights,
      privileges, obligations or entitlement under this Agreement to any person without the prior written consent of the
      Company. This Agreement and all rights under it may be assigned or transferred by the Company.
    </div>

    <div class="paragraph">
      <b>18.4.</b> Waiver. Any forbearance delay or indulgence by any of the Parties hereto in enforcing any of the
      terms and conditions of this Agreement shall not prejudice or affect the rights and remedies such Party hereunder,
      nor shall any waiver of any breach hereof operate as a waiver of any subsequent breach and no waiver or variation
      of any terms and conditions of this Agreement shall be valid or have any effect unless the same be made in writing
      and signed by a director/trustee of the concerned party authorised for the purpose on behalf of such party.
    </div>

    <div class="paragraph">
      <b>18.5.</b> Severability. Should any provision of this Agreement be declared by any court to be in conflict with
      the law or unenforceable, the validity and enforceability of the remainder of the Agreement shall not be affected
      thereby. In such an event, the offending provision shall be deemed not to be part of this Agreement and any
      resulting necessary consequential amendment shall be deemed to be incorporated in this Agreement, save if it
      affects the Trademarks, when the Agreement may be terminated at the Company’s sole election.
    </div>

    <div class="paragraph">
      <b>18.6.</b> Copy of the Agreement. This Agreement is executed in duplicate. Each Party to the Agreement shall
      keep one copy each of this Agreement.
    </div>
    <br>
  </div>

  <h4>
    IN WITNESS WHEREOF, THE PARTIES HERETO HAVE SET AND SUBSCRIBED THEIR RESPECTIVE HANDS AND SEAL THE DAY, MONTH AND
    YEAR FIRST HEREIN ABOVE WRITTEN:
  </h4>

  <div class="paragraph">
    SIGNED, SEALED AND DELIVERED<br>
    For and on behalf of the within named Company
    <br>
    <p>Infinite Group Education Consultant L.L.C-FZ</p>
    <p>by the hands of its Authorized Signatory,</p>
    <br>
    <br>
    <br>

    ______________________________<br>
    Name: Mr. Manu Batra
  </div>
  <br>
  <br>
  <br>
  <div class="paragraph" style="line-height: 1.5rem;">
    <p><b>SIGNED, SEALED AND DELIVERED</b><br>
      For and on behalf of the within named RP
    </p>
    <h5 style="line-height: 1px;">{{ partner.company_name|upper }}</h5>
    <span>by the hands of its Authorized Signatory,</span>
    <br>
    <p>Name: <b>{{ partner.contact_name }}</b></p>
  </div>
</div>
</body>
</html>
