{% extends 'base.html' %}
{% load crispy_forms_tags %} {% load static %}
{% block title %} Compliance Officer Dashboard {% endblock title %}
{% block main %}
  <div class="row rounded  mb-5  py-3">

    <div class="col-md-12 mb-4">
      <div class="card shadow shadow-sm" style="background-color: #170fd5!important;">
        <div class="card-header">
          <h2 class="card-title fw-semibold text-light">Compliance Officer Dashboard</h2>
        </div>
        <div class="card-body">
          <div class="row mb-2 gy-3">
              <div class="col-sm-6 col-lg-3 ">
                  <div style="border-width: 6px; border-radius: 10px"
                       class="card shadow shadow-sm card-sm border-3 border-start-5 border-top-0 border-end-0 border-bottom-0 border-cyan">
                    <div class="py-3 px-3 rounded-5">
                      <div class="row m-0">
                        <div class="col d-flex flex-column gap-2">
                          <div class="d-flex flex-row justify-content-between align-items-center">
                            <div class="d-flex flex-column gap-0" style="width: 100%;">
                              <div class="fw-bold" style="font-size: .8rem !important;">
                                Total Applications
                              </div>
                              <div class="text-primary-emphasis fs-2 fw-semibold d-flex justify-content-end">
                                <a href="{% url 'paceapp:compliance_application_list' %}" class="text-primary">
                              {{ total_applications }}
                            </a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

            {# Loop through status cards #}
            {% for status in status_with_compliance %}
              <div class="col-sm-6 col-lg-3 ">
                  <div style="border-width: 6px; border-radius: 10px"
                       class="card shadow shadow-sm card-sm border-3 border-start-5 border-top-0 border-end-0 border-bottom-0 border-cyan">
                    <div class="py-3 px-3 rounded-5">
                      <div class="row m-0">
                        <div class="col d-flex flex-column gap-2">
                          <div class="d-flex flex-row justify-content-between align-items-center">
                            <div class="d-flex flex-column gap-0" style="width: 100%;">
                              <div class="fw-bold" style="font-size: .8rem !important;">
                                {{ status.label }}
                              </div>
                              <div class="text-primary-emphasis fs-2 fw-semibold d-flex justify-content-end">
                                <a href="{% url 'paceapp:compliance_application_list' %}?filter={{ status.status_name }}"
                                 class="text-primary">
                                {{ status.count }}
                              </a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    {% include 'paceapp/services/all_activity_stream_compliance_officer.html' %}
  </div>
{% endblock %}
