{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}Commission Structures List{% endblock title %}

{% block main %}
  <div class="row py-3">
    <div class="col-md-12 m-auto">
      <div class="card shadow">
        <div class="card-header d-flex justify-content-between">
          <h3 class="card-title fw-semibold">Commission Structures</h3>
          <a href="{% url 'core:add_commission_structure' %}" class="btn btn-dark">Add Commission Structure</a>
        </div>

        <div class="card-body border-bottom">
          <form action="" method="get" up-autosubmit up-follow up-keep up-target="#commission_list">
            <div class="row">
              <div class="col-sm-6 col-md-2">
                <div class="mb-3">
                  <select type="text" class="form-select" name="country_id" data-searchable="true">
                    <option value="" selected>Filter By Country</option>
                    {% for item in countries %}
                      <option value="{{ item.id }}">{{ item }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="col-sm-6 col-md-2">
                <div class="mb-3">
                  <select class="form-select" name="university_id" required>
                    <option value="" selected>Filter By University</option>
                    {% for university in universities %}
                      <option value="{{ university.id }}">{{ university }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="col-sm-6 col-md-2">
                <div class="mb-3">
                  <select class="form-select" name="year_id" required>
                    <option value="" selected>Filter By Year</option>
                    {% for year in years %}
                      <option value="{{ year.id }}">{{ year }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="col-sm-6 col-md-2">
                <div class="mb-3">
                  <select name="status" class="form-select" required>
                    <option disabled selected>Status</option>
                    <option value="True">Active</option>
                    <option value="False">Inactive</option>
                  </select>
                </div>
              </div>
              <div class="col-sm-6 col-md-1">
                <div class="mb-3 d-flex justify-content-between">
                  <a href="{% url 'core:commission_structure_list' %}" class="btn btn-outline-yellow">Clear Filters</a>
{#                  <a id="export_user_data" class="btn btn-purple ms-1">Export CSV</a>#}
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="table-responsive" id="commission_list">
          <table class="table card-table table-vcenter text-nowrap datatable">
            <thead>
            <tr>
              <th class="w-1">S.N.</th>
              <th>Country</th>
              <th>University</th>
              <th>Year</th>
              <th>Commission Structure</th>
              <th>Status</th>
              <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for object in object_list %}
              <tr>
                <td>
                  <span class="text-secondary">{{ forloop.counter }}.</span>
                </td>
                <td>{{ object.country }}</td>
                <td>{{ object.university }}</td>
                <td>{{ object.year }}</td>
                <td>{{ object.commission }}</td>
                <td>
                  {% if object.is_active %}
                    <span class="status status-green">Active</span>
                  {% else %}
                    <span class="status">Inactive</span>
                  {% endif %}
                <td colspan="2">
                  <a href="{% url 'core:update_commission_structure' pk=object.pk %}"
                     class="btn btn-primary btn-sm">Update</a>
{#                  <a href="{% url 'core:delete_commission_structure' pk=object.pk %}"#}
{#                     class="btn btn-danger btn-sm">Delete</a>#}
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>

        <div class="card-footer d-flex align-items-center" up-hungry>
          {% include 'utils/pagination.html' %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
