{% extends 'base.html' %}
{% load crispy_forms_tags %} {% load static %}
{% block title %} {{ object }} {% endblock title %}

{% block main %}
<div class="row py-3">
  <div class="col-md-12 m-auto">
    <div class="card shadow">
      <div class="card-header d-flex justify-content-between">
        <h3 class="card-title fw-semibold">{{ object }}</h3>
        <a href="{% url 'paceapp:update_level' pk=object.pk %}" class="btn btn-dark">Edit</a>
      </div>
      <div class="card-body">
        <div class="datagrid">
          <div class="datagrid-item">
            <div class="datagrid-title">Name</div>
            <div class="datagrid-content">{{ object }}</div>
          </div>
          <div class="datagrid-item">
            <div class="datagrid-title">Last modified</div>
            <div class="datagrid-content">{{ object.modified }}</div>
          </div>
          <div class="datagrid-item">
            <div class="datagrid-title">Created At</div>
            <div class="datagrid-content">{{ object.created }}</div>
          </div>
          <div class="datagrid-item">
            <div class="datagrid-title">Boards</div>
            <div class="datagrid-content">
              {% for item in object.boards.all %}
              {{ item }},
              {% endfor %}
            </div>
          </div>
          <!--          <div class="datagrid-item">-->
          <!--            <div class="datagrid-title">Streams</div>-->
          <!--            <div class="datagrid-content">-->
          <!--              <div class="list-group list-group-bordered">-->
          <!--                {% for stream in object.streams.all %}-->
          <!--                <div class="list-group-item">{{ stream }}</div>-->
          <!--                {% empty %}-->
          <!--                <div class="list-group-item">No streams assigned</div>-->
          <!--                {% endfor %}-->
          <!--              </div>-->
          <!--            </div>-->
          <!--          </div>-->
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12 m-auto">
    <div class="card mt-1 shadow">
      <div class="card-header">
        <h3 class="datagrid-title">Streams</h3>
      </div>
      <div class="list-group list-group-bordered">
        {% for item in object.streams.all %}
        <div class="list-group-item">{{ item }}</div>
        {% empty %}
        <div class="list-group-item">-</div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
